.card {
    margin: 10px;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.33);
    background-color: #DBE2EF;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.59);
}

.card-img {
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}

.card>p {
    margin: 0;
    text-align: center;
    padding-bottom: 5px;
}