.App {
  position: absolute;
}

.scoreboard {
  position: relative;
  top: 0;
  right: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.card {
  height: 150px;
  width: 150px;
  margin: 10px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}